# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# virtualenv
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# IDEs
.idea/
*.swp

# ------------------------
# Data & Environment
# ------------------------
# Environment variables
.env
.env.*

# CSV and data files
*.csv
*.tsv
*.dat
*.data
*.log

# ------------------------
# OS / misc
# ------------------------
.DS_Store
Thumbs.db
